{
  "Application": {
    "Url": "http://localhost:5002",
    "PathBase": "/"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=laci;Username=cysun;Password=abcd"
  },
  "OIDC": {
    "Authority": "http://localhost:5000",
    "ClientId": "laci.local",
    "ClientSecret": "abcd"
  },
  "Serilog": {
    "Using": [
      "Serilog.Sinks.File"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "D:/Temp/Laci/log.txt",
          "rollingInterval": "Day",
          "retainedFileCountLimit": null
        }
      }
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Enrich": [
      "FromLogContext"
    ]
  },
  "AllowedHosts": "*"
}
